body{
  background: rgb(95, 136, 248);
  font: normal 15pt Arial;
}

.header{
  color:white;
  text-align: center;
  font-size: 35px;
  margin: 15px;
}

.main{
  background: white;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 30px;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 18px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

input,button{
  margin-left: 5px;
  margin-bottom: 15px;
}
